body{
	font-family: Lato;
}

/*******************************************************/
/********************* LINE CHART **********************/
/*******************************************************/
#lineChart{
    position: fixed;
    left: 300px;
    top: 100px;
}
.line{
    fill: none;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-width: 2px;
}
.line.baseline{
    stroke: #000;
}
/*.line.baseline.future{
    stroke-dasharray: 3.5px 2px;
}*/
.line.future.projection{
    stroke: #ec008b;
}

/*******************************************************/
/******************** LEFT SIDE BAR ********************/
/*******************************************************/
#leftSidebar{
    width: 279px;
    height: 100%;
    background: #5c5859;
    display: inline-block;
    color: #fff;
    margin-top: 48px;
    padding-bottom: 340px;
}
#leftHeader{
    background: #444243;
    height: 20px;
	padding: 20px;
}
#startHere{
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
}
#clearAll{
	display: inline-block;
    float: right;
    text-transform: uppercase;
    font-size: 11px;
    cursor: pointer;
}
#clearAll img{
    width: 18px;
    position: relative;
    margin-left: 12px;
    top: 5px;
}
.parentContainer{
	overflow: hidden;
    height: 40px;
    padding-top: 15px;
}
#stateSelect-button{
    margin-left: 20px;
	margin-top: 35px;
	margin-bottom: 44px;
}
.leftHeaderText{
    font-size: 17px;
    font-weight: bold;
    border-bottom: 2px solid white;
    padding-bottom: 12px;
    margin-left: 20px;
    margin-bottom: 30px;
    position: relative;
}
.leftHeaderText:after{
    content: "";
    width: calc(100% - 3px);
    border-bottom: 1px solid #2e2c2c;
    position: absolute;
    left: 3px;
    bottom: -4px;
}
.parentControls{
    position: relative;
    height: 168px;
    box-shadow: 0 9px 15px -6px #262223;
    width: calc(100% - 21px);
    left: -20px;
    padding-left: 21px;
    margin-left: 20px;
    z-index: 2;

}
.parent.slider{
    height: 56px;
}
.parentHeader{
    border-bottom: 2px solid #959192;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-left: 20px;
    left: -10px;
    width: 240px;
    position: relative;
    cursor: pointer;
}
.parentHeader:after{
    content: "";
    width: 100%;
    border-bottom: 3px solid #4c4748;
    position: absolute;
    left: 0px;
    bottom: -5px;
}
.parentName{
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
}

.parentArrow{
	background-image: url(../img/expandArrow.png);
    display: inline-block;
    background-size: 18px;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    background-position: center;
    float: right;
    margin-right: 5px;
    position: relative;
    top: 3px;
}
.childHeader{
    border-bottom: 2px solid #959192;
    padding-bottom: 7px;
    width: 216px;
    position: relative;
    cursor: pointer;
}
.childHeader:after{
    content: "";
    width: 100%;
    border-bottom: 3px solid #4c4748;
    position: absolute;
    left: 0px;
    bottom: -5px;
}
.childArrow{
    background-image: url(../img/expandArrow.png);
    display: inline-block;
    background-size: 15px;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    background-position: center;
    float: right;
    margin-right: 2px;
    position: relative;
    top: -15px;
}

.childName{
    font-size: 15px;
    font-weight: bold;
    width: 200px;
}
.controlTypeLabel{
	font-size: 14px;
    font-style: italic;
    display: block;
    clear: both;
}
.parent.controlTypeLabel{
	margin-top: 15px;
}
.child.controlTypeLabel{
    padding-top: 7px;
}



.childContainer{
    background: #535050;
    left: -18px;
    position: relative;
    z-index: 1;
    width: calc(100% - 41px);
    padding-top: 20px;
    padding-left: 38px;
    margin-left: 20px;
    height: 30px;
    overflow: hidden;
}
.childContainer.tall{
    height: 45px;
}
.childContainer:last-child{
    padding-bottom: 12px;
}
.child.slider{
    margin-left: -22px;
    height: 64px;
}
.slideLock{
    display: inline-block;
    float: left;
    margin-top: 12px;
    width: 20px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: 1px 1px;
    cursor: pointer;

}
.slideLock.unlocked{
    background-image: url(../img/unlocked.png);
    background-size: 17px;
}
.slideLock.locked{
    background-image: url(../img/locked.png);
    background-size: 12px;
}
.sliderLabels{
	display: block;
    clear: both;
    width: 100%;
}
.sliderLabel{
	position: relative;
	font-size: 11px;
	cursor: pointer;
	display: inline-block;
    top: -3px;
}
.sliderLabel.lneg{
	left: 16px
}
.sliderLabel.l0{
	left: 72.5px;
}
.sliderLabel.lpos{
	left: 121px;
}
.sliderLabel:hover{
	color: #a2d4ec;
}
.sliderInput input{
    display: inline-block;
    position: relative;
    top: -41px;
    font-family: Lato;
    font-size: 16px;
    background: transparent;
    border: none;
    color: #a2d4ec;
    font-weight: bold;
    right: -189px;
    text-align: right;
    width: 49px;

}
.lockMask{
    width: calc(100% - 15px);
    height: 40px;
    position: relative;
    top: -65px;
    left: 14px;
    background: transparent;
}


/***************************************************************************/
/************************ CROSS BROWSER RANGE INPUT ************************/
/***************************************************************************/
/*modified from http://brennaobrien.com/blog/2014/05/style-input-type-range-in-every-browser.html*/


input[type=range] {
    display: inline-block;
    width: 159px;
    float: left;
    margin-top: 12px;
    -webkit-appearance: none;
    border: none;
    height: 18px;
    background-color: transparent;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  input[type=range] {
    display: inline-block;
    width: 159px;
    float: left;
    margin-top: 12px;
      /*removes default webkit styles*/
      -webkit-appearance: none;
      
      /*fix for FF unable to apply focus style bug */
      border: none;
      height: 75px;
      background-color: transparent;
      
      /*required for proper track sizing in FF*/
      /*width: 300px;*/
  }


}

input[type=range]::-webkit-slider-runnable-track {
    /*width: 300px;*/
    height: 5px;
    background: #858282;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 5px solid #1696d2;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: #fff;
    margin-top: -6px;
    cursor: pointer;
}
input[type=range]:focus {
    outline: 0;
}
input::-moz-focus-inner{
	outline: 0;
}
input[type=range]::-moz-focus-outer {
    border: 0;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #353535;
    outline: none;
}

input[type=range]::-moz-range-track {
    /*width: 300px;*/
    height: 5px;
    background: #858282;
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    border: 5px solid #1696d2;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid #ffffff;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    /*width: 300px;*/
    max-width: 50px !important;
    /*height: 5px;*/
    
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #858282;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: #858282;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    border: 5px solid #1696d2;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
    background: #353535;
}
input[type=range]:focus::-ms-fill-upper {
    background: #353535;
}



