body{
	font-family: Lato;
}
#headerAboutLink{
    display: inline-block;
    float: none;
    right: 70px;
    position: absolute;
}
#headerAboutLink a{
    font-weight: normal !important;
    font-size: 16px;
    color: #1696d2 !important;
    cursor: pointer;
    top: -1px;
    position: relative;
}
#printIcon{
    display: inline-block;
    float: right;
    background-image: url(../img/print.png);
    background-size: 27px;
    background-repeat: no-repeat;
    width: 27px;
    height: 27px;
    /* margin-left: 11px; */
    background-position: 0px 2px;
    margin-right: 12px;
    bottom: 5px;
    cursor: pointer;
    position: relative;
}
#printIcon:hover{
    background-image: url(../img/print-hover.png);
}

/*******************************************************/
/************** TITLE AND CENTER CONTAINER *************/
/*******************************************************/

#centerContainer{
    position: fixed;
    top: 50px;
    left: 278px;
    width: calc(100% - 550px);
    height: calc(100% - 65px);
    padding-left: 50px;
    padding-top: 15px;
}
#introText{
    width: calc(100% - 400px);
    display: inline-block;
    color: #5c5859;
    float: right;
    font-size: 15px;
    line-height: 21px;
    padding-right: 60px;
    padding-left: 20px;
}
#titleContainer{
    display: inline-block;
}
#topTitle{
    font-size: 38px;
}
#bottomTitle{
    font-size: 38px;
    font-weight: 900;
}
#datePublished{
    font-weight: 300;
    font-size: 16px;
    margin-top: 17px;
}
/*******************************************************/
/********************* LINE CHART **********************/
/*******************************************************/
#lineChart{
    margin-top: 10px;
    margin-left: -18px;
    position: relative;
    cursor: pointer;
}
#bgRect{
    fill: #f5f5f5;
    stroke: none;
}
.line{
    fill: none;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-width: 2px;
}
.line.baseline{
    stroke: #000;
}
/*.line.baseline.future{
    stroke-dasharray: 3.5px 2px;
}*/
.line.future.projection{
    stroke: #ec008b;
    stroke-width: 3px;
}
.line.projection.saved{
    stroke: #9d9d9d;
    stroke-width: 1px;
    cursor: pointer;
}
.line.projection.saved.active, .line.projection.saved.clickActive{
    stroke: #1696d2;
    stroke-width: 3px;
}

.mouseoverDot{
    pointer-events: none;
}

.mouseoverDot.historical, .mouseoverDot.baseline{
    stroke:#000;
    stroke-width: 2px;
    fill: #fff;
}
.mouseoverDot.future{
    stroke: #ec008b;
    stroke-width: 2px;
    fill: #fff;
}
.dotActive{
    stroke: #1696d2 !important;
}

#lineLegend{
    background: white;
    bottom: 122px;
    left: 30px;
    position: relative;
    width: 216px;
    font-size: 14px;
    padding: 10px;
    padding-bottom: 7px;
    border: 2px solid #9d9d9d;
}
.ll-row{
    margin-bottom: 3px;
}
.ll-text{
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
}
.ll-key{
    width: 15px;
    height: 10px;
    margin-right: 10px;
    display: inline-block;
    position: relative;
    top: -4px;
}
.ll-key.historical{
    border-bottom: 3px solid black;
}
.ll-key.baseline{
    border-bottom: 3px dotted black;
}
.ll-key.forecast{
        border-bottom: 3px solid #ec008b;
}
#ttBox{
    background: white;
    bottom: 298px;
    left: 30px;
    position: relative;
    width: 216px;
    font-size: 14px;
    padding: 10px;
    border: 2px solid #9d9d9d;
}
#ttYear{
    font-size: 13px;
    margin-bottom: 5px;
}
#ttPop, #ttCost{
    font-weight: bold;
}
#ttPop span, #ttCost span{
    color: #1696d2;
}
.ttLabel{
    font-size: 14px;
    position: absolute;
    font-weight: bold;
    background: rgba(255,255,255,.7);
    pointer-events: none;
}
.axis.y .tick line{
    stroke: #dedddd
}
.axis.y path{
    display: none;
}
.axis .tick text{
    font-size: 14px;
    font-family: Lato;
    color: #5c5859;
}
.lineChart.y.axis .tick line.t0{
    stroke: #000 !important;
}
.axisLabel{
    font-size: 16px;
    font-style: italic;
}

/*******************************************************/
/******************** COST SECTION *********************/
/*******************************************************/

#costHighlight{
    color: #ec008b;
}
#costSection{
    display: block;
    position: fixed;
    right: 290px;
    width: 247px;
    top: calc(50% + 40px);
    font-size: 18px;
    line-height: 1.5;
}

.barsGroup text{
    fill: #ec008b;
    font-size: 12px;
    font-family: Lato;
    font-weight: bold;
}


/*******************************************************/
/**************** DEMOGRAPHICS SECTION *****************/
/*******************************************************/
.chartSectionTitle{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
#demographicSection{
    position: fixed;
    top: calc(50% + 40px);
    left: 330px;
    width: calc(100% - 900px);
}
#popContainer{
    font-size: 18px;
    line-height: 1.5;
}
#popChangeText span{
    color: #ec008b;
    font-weight: bold;
}
#barTitle{
    font-size: 16px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 10px;
}
.bar.x.axis .tick line, .bar.x.axis path{
    opacity: 0;
}
#popMenuContainer{
    display: inline-block;
    width: 207px;
}
#popMenuContainer select{
    display: none;
}
#barChart{
    position: fixed;
    bottom: 10px;
}
#barLegend{
    display: inline-block;
    float: right;
    margin-left: 20px;
    font-size: 14px;
    font-weight: bold;
    bottom: 40px;
    position: absolute;
}
.bl-row{
    margin-bottom: 10px;
    width: 130px;
}
.bl-key, .bl-text{
    display: inline-block;
}
.bl-key{
    margin-right: 7px;
    position: relative;
    top: 2px;
}
.bl-key.last{
    border: 7px solid black;
    width: 0px;
    height: 0px;
}
.bl-key.baseline{
    border: 2px dotted black;
    width: 10px;
    height: 10px;
    background: #9d9d9d;
}
.bl-key.forecast{
    border: 7px solid #ec008b;
    width: 0px;
    height: 0px;
}
.bar-note{
    font-style: italic;
    opacity: 1;
    font-weight: normal;
    width: 118px;
    font-size: 12px;
    padding-top: 7px;
}
.bar-note a{
    text-decoration: none;
    color: #1696d2;
}
/*******************************************************/
/******************** LEFT SIDE BAR ********************/
/*******************************************************/
#leftSidebar{
    position: fixed;
    width: 279px;
    background: #5c5859;
    display: inline-block;
    color: #fff;
    margin-top: 48px;
    padding-bottom: calc(100% - 900px);
}
#leftHeader{
    background: #444243;
    height: 20px;
	padding: 20px;
}
#startHere{
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
}
#clearAll{
	display: inline-block;
    float: right;
    text-transform: uppercase;
    font-size: 11px;
    cursor: pointer;
}
#clearAll img{
    width: 18px;
    position: relative;
    margin-left: 12px;
    top: 5px;
}
.parentContainer{
	overflow: hidden;
    height: 40px;
    padding-top: 15px;
}
#stateSelect{
    display: none;
}
#stateSelect-button{
    margin-left: 20px;
	margin-top: 35px;
	margin-bottom: 44px;
}
.leftHeaderText{
    font-size: 17px;
    font-weight: bold;
    border-bottom: 2px solid white;
    padding-bottom: 12px;
    margin-left: 20px;
    margin-bottom: 30px;
    position: relative;
}
.leftHeaderText:after{
    content: "";
    width: calc(100% - 3px);
    border-bottom: 1px solid #2e2c2c;
    position: absolute;
    left: 3px;
    bottom: -4px;
}
.parentControls{
    position: relative;
    height: 168px;
    box-shadow: 0 9px 15px -6px #262223;
    width: calc(100% - 21px);
    left: -20px;
    padding-left: 21px;
    margin-left: 20px;
    z-index: 2;

}
.parent.slider{
    height: 56px;
}
.parentHeader{
    border-bottom: 2px solid #959192;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-left: 20px;
    left: -10px;
    width: 240px;
    position: relative;
    cursor: pointer;
}
.parentHeader:after{
    content: "";
    width: 100%;
    border-bottom: 3px solid #4c4748;
    position: absolute;
    left: 0px;
    bottom: -5px;
}
.parentName{
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
}

.parentArrow{
	background-image: url(../img/expandArrow.png);
    display: inline-block;
    background-size: 18px;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    background-position: center;
    float: right;
    margin-right: 5px;
    position: relative;
    top: 3px;
}
.childHeader{
    border-bottom: 2px solid #959192;
    padding-bottom: 7px;
    width: 216px;
    position: relative;
    cursor: pointer;
}
.childHeader:after{
    content: "";
    width: 100%;
    border-bottom: 3px solid #4c4748;
    position: absolute;
    left: 0px;
    bottom: -5px;
}
.childArrow{
    background-image: url(../img/expandArrow.png);
    display: inline-block;
    background-size: 15px;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    background-position: center;
    float: right;
    margin-right: 2px;
    position: relative;
    top: -15px;
}

.childName{
    font-size: 15px;
    font-weight: bold;
    width: 200px;
}
.controlTypeLabel{
	font-size: 14px;
    font-style: italic;
    display: block;
    clear: both;
}
.parent.controlTypeLabel{
	margin-top: 15px;
}
.child.controlTypeLabel{
    padding-top: 7px;
}



.childContainer{
    background: #535050;
    left: -18px;
    position: relative;
    z-index: 1;
    width: calc(100% - 41px);
    padding-top: 20px;
    padding-left: 38px;
    margin-left: 20px;
    height: 30px;
    overflow: hidden;
}
.childContainer.tall{
    height: 45px;
}
.childContainer:last-child{
    padding-bottom: 12px;
}
.child.slider{
    margin-left: -22px;
    height: 64px;
}
.slideLock{
    display: inline-block;
    float: left;
    margin-top: 12px;
    width: 20px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: 1px 1px;
    cursor: pointer;

}
.slideLock.unlocked{
    background-image: url(../img/unlocked.png);
    background-size: 17px;
}
.slideLock.locked{
    background-image: url(../img/locked.png);
    background-size: 12px;
}
.slideLock.unlocked:hover{
    background-image: url(../img/unlocked-hover.png);
}
.slideLock.locked:hover{
    background-image: url(../img/locked-hover.png);
}
.sliderLabels{
	display: block;
    clear: both;
    width: 100%;
}
.sliderLabel{
	position: relative;
	font-size: 11px;
	cursor: pointer;
	display: inline-block;
    top: -3px;
}
.sliderLabel.lneg{
	left: 16px
}
.sliderLabel.l0{
	left: 72.5px;
}
.sliderLabel.lpos{
	left: 121px;
}
.sliderLabel:hover{
	color: #a2d4ec;
}
.sliderInput input{
    display: inline-block;
    position: relative;
    top: -41px;
    font-family: Lato;
    font-size: 16px;
    background: transparent;
    border: none;
    color: #a2d4ec;
    font-weight: bold;
    right: -189px;
    text-align: right;
    width: 49px;

}
.lockMask{
    width: calc(100% - 15px);
    height: 40px;
    position: relative;
    top: -65px;
    left: 14px;
    background: transparent;
}


/***************************************************************************/
/************************ CROSS BROWSER RANGE INPUT ************************/
/***************************************************************************/
/*modified from http://brennaobrien.com/blog/2014/05/style-input-type-range-in-every-browser.html*/


input[type=range] {
    display: inline-block;
    width: 159px;
    float: left;
    margin-top: 12px;
    -webkit-appearance: none;
    border: none;
    height: 18px;
    background-color: transparent;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  input[type=range] {
    display: inline-block;
    width: 159px;
    float: left;
    margin-top: 12px;
      /*removes default webkit styles*/
      -webkit-appearance: none;
      
      /*fix for FF unable to apply focus style bug */
      border: none;
      height: 75px;
      background-color: transparent;
      
      /*required for proper track sizing in FF*/
      /*width: 300px;*/
  }


}

input[type=range]::-webkit-slider-runnable-track {
    /*width: 300px;*/
    height: 5px;
    background: #858282;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 5px solid #1696d2;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: #fff;
    margin-top: -6px;
    cursor: pointer;
}
input[type=range]:focus {
    outline: 0;
}
input::-moz-focus-inner{
	outline: 0;
}
input[type=range]::-moz-focus-outer {
    border: 0;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #353535;
    outline: none;
}

input[type=range]::-moz-range-track {
    /*width: 300px;*/
    height: 5px;
    background: #858282;
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    border: 5px solid #1696d2;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid #ffffff;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    /*width: 300px;*/
    max-width: 50px !important;
    /*height: 5px;*/
    
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #858282;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: #858282;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    border: 5px solid #1696d2;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
    background: #353535;
}
input[type=range]:focus::-ms-fill-upper {
    background: #353535;
}



/*******************************************************/
/******************* RIGHT SIDE BAR ********************/
/*******************************************************/
#rightSideBar{
    width: 220px;
    padding-left: 20px;
    background: #5c5859;
    display: inline-block;
    color: #fff;
    margin-top: 48px;
    position: absolute;
    right: 0px;
    padding-bottom: calc(100% - 900px);
}
#selectionsContainer{
    background: #444243;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    top: -20px;
    left: -20px;
    position: relative;
    width: 100%;
}
#savedContainer{
    background: #5c5859;
}
.selectionsTitle{
    font-size: 16px;
    margin-top: 20px;
    font-weight: bold;
    padding-bottom: 12px;
    border-bottom: 2px solid white;
    position: relative;
}
.selectionsTitle.bottom{
    margin-top: 0px;
}
.selectionsTitle:after{
    content: "";
    width: calc(100% - 3px);
    border-bottom: 1px solid #2e2c2c;
    position: absolute;
    left: 3px;
    bottom: -4px;
}


.selectionItem.state{
    font-size: 14px;
    margin-top:22px;
}
.selectionState{
    display: inline-block;
}

.selectionHeader{
    color: #b9dff1;
    font-weight: bold;
    font-size: 14px;
    margin-top: 22px;
    margin-bottom: -4px;
}

.selectionName.parent{
    margin-top: 16px;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 6px;
}
.exceptionsLabel{
    font-size: 14px;
    font-style: italic;
    margin-top: 16px;
    font-weight: bold;
}

.selectionValue.left{
    display: inline-block;
    float: left;
}
.selectionValue.left.parent.digit3{
    width: 160px;
}
.selectionValue.left.child.digit3{
    width: 150px;
}
.selectionValue.left.parent.digit2{
    width: 166px;
}
.selectionValue.left.child.digit2{
    width: 156px;
}
.selectionValue.left.parent.digit1{
    width: 184px;
}
.selectionValue.left.child.digit1{
    width: 174px;
}
.selectionNum.digit3{
    width: 40px;
}
.selectionNum.digit2{
    width: 34px;
}
.selectionNum.digit1{
    width: 16px;
}
.selectionNum{
    display: inline-block;
    text-align: right;
}
.selectionText{
    float: left;
}
.selectionDots{
    background-image: url("../img/dotbg-01.png");
    background-size: 8px;
    background-repeat-x: repeat;
    background-position: 10px 7px;
    background-repeat-y: no-repeat;
    overflow: hidden;
}
.selectionNum.parent{
    font-size: 13px;
}
.selectionNum.child{
    font-size: 12px;
}

.selectionValue.parent{
    font-size: 13px;
    margin-bottom: 2px;
}

.selectionItem.child{
    padding-left: 10px;
}

.selectionName.child{
    font-size: 14px;
    margin-top: 10px;
    font-weight: bold;
}
.selectionValue.child{
    font-size: 12px;
}
#saveForecast{
    background: #1696d2;
    color: #ffffff;
    width: calc(100% - 46px);
    padding: 18px 13px 18px 13px;
    text-align: center;
    margin-top: 24px;
    cursor: pointer;
}
#saveForecast.deactivated{
    background: #858282;
}

.savedForecast{
    border-bottom: 2px solid #858282;
    height: 29px;
    width: calc(100% - 10px);
    margin-top: 10px;
}
#savedForecastsList{
    margin-top: 18px;
}
.savedForecast input{
    float: left;
    background: none;
    border: none;
    font-family: Lato;
    font-size: 14px;
    color: #a2d4ec;
    width: 106px;
    text-overflow: ellipsis;
}
.savedForecast.active input, .savedForecast.clickActive input {
    color: #000;
    font-weight: bold;
}
.savedForecast.active .forecastState, .savedForecast.clickActive .forecastState {
    color: #000;
    font-weight: bold;
}
.forecastState{
    color: #fff;    
    float: left;
    width: 29px;
    font-size: 14px;
    top: 1px;
    position: relative;
}
.forecastButton{
    display: inline-block;
    float: left;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: 1px 1px;
    cursor: pointer;

}


.shareForecast{
    background-image: url(../img/share.png);
    background-size: 17px;
}
.editForecast{
    background-image: url(../img/edit.png);
    background-size: 17px;
}
.deleteForecast{
    background-image: url(../img/delete.png);
    background-size: 17px;
}
.deleteForecast:hover{
    background-image: url(../img/delete-hover.png);
}
.shareForecast:hover{
    background-image: url(../img/share-hover.png);
}
.editForecast:hover{
    background-image: url(../img/edit-hover.png);
}
.valCover{
    position: relative;
    background: transparent;
    width: 128px;
    height: 29px;
    left: 0px;
    top: 0px;
    cursor: pointer;
}


/*******************************************************/
/******************** ABOUT DRAWER *********************/
/*******************************************************/
#aboutContainer{
    width: 100%;
    position: absolute;
    top: -800px;
    background: white;
    height: 760px;
    z-index: 100;
}
#aboutContainer a{
    color: #1696d2;
    text-decoration: none;
}
#aboutWell{
    max-width: 725px;
    width: 100%;
    margin: 0 auto;
    margin-top: 110px;
}
.aboutHeader{
    font-weight: 300;
    font-size: 34px;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 15px;
}
.aboutP{
    font-size: 17px;
    line-height: 1.7;
}
.aboutP.credits{
    font-style: italic;
    margin-bottom: 30px;
}
.creditLine{
    font-size: 14px;
    margin-bottom: 10px;
}
.creditLine span{
    font-weight: bold;
}
.github{
    font-size: 14px;
    display: block;
    margin-top: 30px;
}
#aboutClose{
    width: 25px;
    position: absolute;
    right: 30px;
    top: 45px;
    z-index: 100000000;
    background: white;
    cursor: pointer;
}

/*******************************************************/
/********************* POP UPS *************************/
/*******************************************************/
.popUpCover{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 10000;
}
.popUp{
    position: fixed;
    top: 175px;
    width: 425px;
    left: calc(50% - 212.5px);
    background: #F7F7F7;
    height: 270px;
    border-top: 5px solid #464547;
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 0px 7px 15px 2px #ccc;
    z-index: 10001;
}
.popErrorContainer img{
    width: 43px;
    top: 43px;
    position: absolute;
    left: calc(50% - 21.5px);
}
.popHead{
    line-height: 25px;
    font-size: 16px;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    font-weight: bold;
    position: absolute;
    top: 107px;
}


.popButton{
    display: inline-block;
    color: white;
    padding: 10px 15px 10px 15px;
    cursor: pointer;
}
.popButton.grey{
    background: #858282;
    margin-right: 15px;
}
.popButton.blue{
    background: #1696d2;
}
.popButton:hover{
    background: #000;
}
.popButtonContainer{
    position: absolute;
    top: 147px;
}
.popUp.unsaved .popButtonContainer{
    width: 236px;
    left: calc(50% - 118px);
}
.popUp.delete .popButtonContainer{
    width: 172px;
    left: calc(50% - 86px);
}
.popUp.share .popButtonContainer{
    width: 242px;
    left: calc(50% - 116px);
}

.checkContainer{
    position: absolute;
    bottom: 30px;
    left: calc(50% - 120px);
}
.checkMarkContainer{
    display: inline-block;
    position: relative;
    top: 10px;
}
.checkMarkContainer svg{
    cursor: pointer;
}
.checkContainer span{
    font-style: italic;
    font-size: 13px;
    display: inline-block;
    color: #696969;
}
.popUp.share .popHead{
    top: 40px;
}
.urlContainer input{
    font-family: Lato;
    font-size: 13px;
    font-style: italic;
    padding: 10px;
    width: 80%;
    left: 30px;
    position: absolute;
    top: 86px;
    border: 1px solid #9d9d9d;
}
.copied{
    font-size: 15px;
    font-style: italic;
    margin-top: 10px;
    color: #696969;
    opacity: 0;
}
