body.hide{
	display: none;
}
/*******************************************************/
/********************* BREAKPOINTS *********************/
/*******************************************************/
.breakpoint, .datum{
    display: none;
    width: 0px;
    height: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    pointer-events: none;
}
@media(max-width: 1300px){
	.breakpoint.width1300{
		display: block;
	}
}
@media(max-width: 1098px){
	.breakpoint.width1098{
		display: block;
	}
}
@media(max-width: 500px){
	.breakpoint.width500{
		display: block;
	}
}
@media(max-width: 320px){
	.breakpoint.width320{
		display: block;
	}
}
/*@media(max-width: 1300px){
}*/
@media(max-height: 565px){
	.breakpoint.height565{
		display: block;
	}
}
@media(max-height: 700px){
	.breakpoint.height800{
		display: block;
	}
}
@media(max-height: 800px){
	.breakpoint.height800{
		display: block;
	}
}
@media(max-height: 900px){
	.breakpoint.height900{
		display: block;
	}
}


/*******************************************************/
/*********************** SQUEEZE ***********************/
/*******************************************************/
body.squeeze #popContainer, body.squeeze #costText{
	font-size: 16px;
    line-height: 1.7;
}
body.squeeze #popMenuContainer .ui-selectmenu-button.ui-button{
	height: 29px;
}

/*******************************************************/
/************************ TOGGLE ***********************/
/*******************************************************/
#toggleContainer{
	position: fixed;
    left: 279px;
    color: #1696d2;
    width: calc(100% - 545px);
    font-size: 18px;
    font-weight: 700;
    padding: 18px 13px 18px 13px;
    text-align: center;
    display: none;
    z-index: 10;
    cursor: pointer;
}
#toggleContainer.line{
	    bottom: 46px;
	    top: auto;
}
#toggleContainer.bar{
	top: 100px;
	bottom: auto;
}
#toggleContainer:hover{
	font-weight: 900;
}
#toggleContainer.line img{
	display: block;
	width: 40px;
	left: calc(50% - 20px);
	position: relative;
	top: 15px;
	transform: rotate(0deg);
}
#toggleContainer.bar img{
	display: block;
	width: 40px;
	left: calc(50% - 20px);
	position: relative;
	top: -55px;
	transform: rotate(180deg);
}
@media(max-height: 600px){
	.chartSectionTitle{
		margin-bottom: 3px;
	}
	body.toggle #popContainer, body.toggle #costText{
		font-size: 16px;
	    line-height: 1.5;
	}
}

/*******************************************************/
/********************* TOGGLE SQUEEZE ******************/
/*******************************************************/
/*** this may not be needed? it's for toggle at width 1099 -> 1300, but should that just indep scroll?**/
/*This should be a new layout? Heights ??? -> 565, widths 1300 -> 1099*/

	body.toggleSqueeze #introText{
    width: calc(100% - 310px);
    display: inline-block;
    color: #5c5859;
    float: right;
    font-size: 13px;
    line-height: 17px;
    padding-right: 60px;
    padding-left: 20px;
	}
	body.toggleSqueeze #topTitle, body.toggleSqueeze #bottomTitle{
		font-size: 28px;
	}
	body.toggleSqueeze #datePublished{
		font-size: 12px;
	}
	body.toggleSqueeze #costSection{
		width: 207px
	}
	body.toggleSqueeze #popContainer, body.toggleSqueeze #costText{
		font-size: 16px;
	    line-height: 1;
	}
	body.toggleSqueeze #popMenuContainer .ui-selectmenu-button.ui-button{
		display: flow-root;
	}
	body.toggleSqueeze #demographicSection{
		width: calc(100% - 850px)
	}

/*end ??*/

/*******************************************************/
/************************ STACK ************************/
/*******************************************************/

	body.stack #introText{
    width: calc(100% - 310px);
    display: inline-block;
    color: #5c5859;
    float: right;
    font-size: 12px;
    line-height: 17px;
    padding-right: 60px;
    padding-left: 20px;
	}
	body.stack #topTitle, body.stack #bottomTitle{
		font-size: 28px;
	}
	body.stack #datePublished{
		font-size: 12px;
	}
body.stack #lineChart{
	margin-top: 40px;
}
body.stack #demographicSection{
	top: calc(50% + 10px) !important;
}
body.stack #popContainer{
	font-size: 16px;
}
body.stack #costSection{
    top: auto !important;
    width: 100%;
    border: 0px;
    right: auto;
    bottom: 20px;
    width: calc(100% - 570px);
    font-size: 16px;
}
body.stack #demographicSection{
	width: calc(100% - 631px);
}
body.stack #barChart{
    bottom: 110px !important;	
}



/*******************************************************/
/*********************** MOBILE ************************/
/*******************************************************/
#mobileNav{
	display: none;
	width: 100%;
	position: fixed;
	top: 49px;
	color: white;
	z-index: 1000000000;
}
#mn-header{
	width: 100%;
	background-color: #353535;
	height: 50px;
	cursor: pointer;
	border-bottom: 1px solid white;
}
#mn-start{
    font-size: 15px;
    font-weight: 900;
    display: inline-block;
    top: 15px;
    position: relative;
    left: 15px;
}
#mn-header.drawerOpen #mn-start{
	font-style: italic;
	font-weight: normal;
}
#mn-header.open #mn-start{
	font-style: italic;
	font-weight: normal;
}
#mn-boorger{
	display: inline-block;
    position: relative;
    top: 17px;
    left: 24px;
}
#mn-boorger img{
	width: 25px;
}
#mn-menu{
	position: absolute;
	width: 290px;
    /* height: 900px; */
    background: #353535;
    left: -300px;
}
.mn-row{
	height: 36px;
	text-transform: uppercase;
	width: 100%;
	border-bottom: 1px solid white;
}
.mn-row span{
	position: relative;
	left: 15px;
	top: 8px;
	cursor: pointer;

}
body.mobile #headerAboutLink{
	display: none;
}
body.mobile #leftSidebar, body.mobile #rightSideBar{
    top: 52px;
    z-index: 10000000008;
}

body.mobile #mobileNav{
	display: block;
}
body.mobile #introText{
    clear: both;
    display: block;
    float: left;
    width: 100%;
    text-align: center;
    padding-left: 0px;
    padding-bottom: 50px;
    margin-top: 20px;
}
body.mobile #titleContainer{
	clear: both;
	display: block;
	text-align: center;
	margin-top: 140px;
}
body.mobile #topTitle{
    display: inline-block;
    margin-right: 6px;
    font-size: 30px !important;
}
body.mobile #bottomTitle{
	display: inline-block;
	font-size: 30px;
}
#mobileDatePublished, body.mobile #datePublished{
	display: none;
}
body.mobile #mobileDatePublished{
    display: block;
    font-size: 16px;
    margin-top: 20px;
}

body.mobile #leftSidebar, body.mobile #rightSideBar{
	left: -300px;
}
body.mobile #centerContainer{
	position: absolute;
	left: 0px;
	padding-left: 10px;
	width: calc(100% - 20px);
}
body.mobile #lineLegend{
border: none;
    background: none;
    bottom: 0px;
    left: 10px;
}
body.mobile #demographicSection {
    position: relative;
    top: 10px;
    left: 10px;
    width: 100%;
    margin-top: 90px;
}
body.mobile #barChart{
	position: relative;
}
body.mobile .bar-note{
	opacity: 1;
    right: 0px;
    display: block;
    width: 100%;
    margin-bottom: -20px;
}
body.mobile .bl-row{
    margin-bottom: 10px;
    width: 130px;
    display: inline-block;
}
body.mobile #barLegend{
    position: relative;
    border: 0px;
    top: 3px;
    left: -18px;
    float: left;
    clear: both;
    height: 100px;
}
body.mobile #lineChart{
	margin-left: 0px;
}
body.mobile #costSection{
	width: 100%;
    bottom: 0px;
    position: relative;
    left: 0px;
    margin-top: 90px;
    margin-bottom: 100px;
}
body.mobile #startHere{
	display: none;
}
body.mobile #clearAll{
	font-size: 13px;
	float: left;
}
body.mobile .popUp{
	z-index: 10000000000;
	width: 300px;
	left: calc(50% - 150px);
    -moz-box-shadow: 0px 0px 0px 0px #ccc;
    -webkit-box-shadow: 0px 0px 0px 0px #ccc;
    box-shadow: 0px 0px 0px 0px #ccc;
}
body.mobile .popHead{
	top: 87px;
}

body.mobile #aboutContainer{
	position: fixed;
    width: calc(100% - 40px);
    height: 1260px;
    z-index: 10000000008;
    left: -2000px;
    top: 100px;
    padding-left: 20px;
    padding-right: 20px;
}
body.mobile #aboutClose{
	display: none;
}
body.mobile #barChart .axis .tick text {
    font-size: 11px;
}

body.mobile .savedForecast input {
    width: 96px;
}

body.mobile input[type=range]::-webkit-slider-thumb {
    height: 28px;
    width: 28px;
    margin-top: -11px;
}
body.mobile input[type=range]::-moz-range-thumb {
    height: 20px;
    width: 20px;
}
body.mobile input[type=range]::-ms-thumb {
    height: 18px;
    width: 18px;
}